{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block css %}
{{ form.media }}
{% endblock %}

{% block subheader %}
    {% include 'subheader.html' %}
{% endblock %}

{% block main %}
    <div class="sections_group">
        <div class="section">
            <div class="section_wrapper clearfix">
                <div class="column one column_column">
                    <div class="column_attr ">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}

                            <input type="submit" value="Atualizar">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block aside %}
        {% include 'post/aside.html' %}

    {% endblock %}

{% endblock %}