{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block subheader %}
    {% include 'subheader.html' with subheader=object.title %}
{% endblock %}
{% block main %}
    <div class="sections_group">
        <div id="post-175"
             class="post-175 post  format-standard has-post-thumbnail  category-motion category-photography category-uncategorized tag-eclipse tag-grid tag-mysql no-title"
             style="padding-top: 30px">
            <div class="section section-post-header">
                <h3>{{ object.subtitle }}</h3>

                <div class="section_wrapper clearfix">
                    <!-- Posts Navigation -->
                    <!-- One full width row-->

                    <!-- Post Header-->
                    <!-- One full width row-->
                    <div class="column one post-header">
                        <div class="button-love">
                            <a href="#" class="mfn-love " data-id="175"><span class="icons-wrapper"><i
                                    class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span
                                    class="label">354</span></a>
                        </div>
                        <div class="title_wrapper">
                            <div class="post-meta clearfix">
                                <div class="author-date">
                                    <span class="author">Published by <i class="icon-user"></i> <a
                                            href="#">Muffin Group</a></span><span class="date">at <i
                                        class="icon-clock"></i>
														<time class="entry-date" datetime="2014-05-13T15:40:00+00:00">
															May 13, 2014
														</time></span>
                                </div>
                                <div class="category mata-tags">
                                    <span class="cat-btn">{% trans 'Categories' %} <i class="icon-down-dir"></i></span>
                                    <div class="cat-wrapper">
                                        <ul>
                                            {% for category in categories %}
                                                <li>

                                                    <a href="tag-page.html" style="
                                                            background-color: {{ category.color_background }};
                                                            color: {{ category.color_text }}
                                                            ">{{ category.name }}</a>
                                                </li>

                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post Featured Element (image / video / gallery)-->
                    <!-- One full width row-->
                    {% if post.header_image_url %}


                        <div class="column one">

                            <div class="image_frame scale-with-grid">
                                <div class="image_wrapper">
                                    <a href="{{ post.header_image_url }}" rel="prettyphoto">
                                        <div class="mask"></div>
                                        <img width="1200" height="480" src="{{ post.header_image_url }}"
                                             class="scale-with-grid wp-post-image" alt="beauty_portfolio_2">
                                    </a>
                                    <div class="image_links">
                                        <a href="{{ post.header_image_url }}" class="zoom" rel="prettyphoto"><i
                                                class="icon-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
            <!-- Post Content-->
            <div class="post-wrapper-content">
                <div class="entry-content">
                    <div class="section flv_sections_11">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr ">
                                        {{ object.resume|safe }}
                                    </div>
                                </div>
                                <!-- One Third (1/3) Column -->

                                <!-- One full width row-->
                                <div class="column one column_column">
                                    <div class="column_attr ">
                                        {{ object.content|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-post-footer">
                    <div class="section_wrapper clearfix">
                        <!-- One full width row-->
                        <div class="column one post-pager"></div>
                    </div>
                </div>
                <!--Author Info Area-->
                <div class="section section-post-about">
                    <div class="section_wrapper clearfix">
                        <!-- One full width row-->
                        <div class="column one author-box">
                            <div class="author-box-wrapper">
                                <div class="avatar-wrapper">
                                    <img alt="Muffin Group"
                                         src="http://1.gravatar.com/avatar/b8da4787ca5ff7a6bb9bbabecce2daa2?s=64&amp;d=&amp;r=G"
                                         class="avatar avatar-64 photo" height="64" width="64">
                                </div>
                                <div class="desc-wrapper">
                                    <h5><a href="#">Muffin Group</a></h5>
                                    <div class="desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in
                                        mi at felis aliquet cong ue. Ut a est eget ligula molestie gravida. Curabitur
                                        massa. Donec eleifend.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Related posts area-->
            <div class="section section-post-related">
                <div class="section_wrapper clearfix">
                    <div class="section-related-adjustment">
                        <h4>Related posts</h4>
                        <!-- One Third (1/3) Column -->
                        <div class="column one-third post-related post-186 post  format-image has-post-thumbnail  category-mobile category-photography category-uncategorized tag-design tag-html5 ">
                            <div class="image_frame scale-with-grid">
                                <div class="image_wrapper">
                                    <a href="blog-single-vertical-photo.html">
                                        <div class="mask"></div>
                                        <img width="500" height="649" src="images/blog_vertical.jpg"
                                             class="scale-with-grid wp-post-image" alt="blog_vertical">
                                    </a>
                                    <div class="image_links double">
                                        <a href="images/blog_vertical.jpg" class="zoom" rel="prettyphoto"><i
                                                class="icon-search"></i></a><a href="blog-single-vertical-photo.html"
                                                                               class="link"><i
                                            class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="date_label">
                                May 13, 2014
                            </div>
                            <div class="desc">
                                <h4><a href="blog-single-vertical-photo.html">Post with vertical photo</a></h4>
                                <hr class="hr_color">
                                <a href="blog-single-vertical-photo.html"
                                   class="button button_left button_js kill_the_icon"><span class="button_icon"><i
                                        class="icon-layout"></i></span><span class="button_label">Read more</span></a>
                            </div>
                        </div>
                        <!-- One Third (1/3) Column -->
                        <div class="column one-third post-related post-190 post  format-quote  category-uncategorized tag-css3 tag-design  no-img">
                            <blockquote>
                                <a href="blog-single-blockquote.html">Sed dignissim justo. Suspendisse fermentum erat.
                                    Duis consequat tortor. Mauris ut tellus a dolor. Suspendisse nec tellus. Donec quis
                                    lacus magna, sollicitudin id, turpis. Mauris in velit vel sollicitudin justo. Proin
                                    vitae massa nec cursus magna. Fusce blandit eu, ullamcorper in.</a>
                            </blockquote>
                            <div class="date_label">
                                May 13, 2014
                            </div>
                            <div class="desc">
                                <hr class="hr_color">
                                <a href="blog-single-blockquote.html"
                                   class="button button_left button_js kill_the_icon"><span class="button_icon"><i
                                        class="icon-layout"></i></span><span class="button_label">Read more</span></a>
                            </div>
                        </div>
                        <!-- One Third (1/3) Column -->
                        <div class="column one-third post-related post-193 post  format-standard has-post-thumbnail  category-photography category-uncategorized  tag-mysql tag-zend">
                            <div class="image_frame scale-with-grid">
                                <div class="image_wrapper">
                                    <div id="rev_slider_16_2_wrapper"
                                         class="rev_slider_wrapper fullwidthbanner-container flv_rev_20"
                                         style="overflow: visible; height: 111px;">
                                        <div id="rev_slider_16_2"
                                             class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive"
                                             data-version="5.0.4.1"
                                             style="margin-top: 0px; margin-bottom: 0px; height: 111px;">
                                            <ul class="tp-revslider-mainul"
                                                style="visibility: visible; display: block; overflow: hidden; width: 230px; height: 100%; max-height: none; left: 0px;">
                                                <li data-index="rs-21" data-transition="slidehorizontal"
                                                    data-slotamount="7" data-easein="default" data-easeout="default"
                                                    data-masterspeed="300"
                                                    data-thumb="images/home_betheme_blog_3-100x50.jpg" data-rotate="0"
                                                    data-saveperformance="off" data-title="Slide" data-description=""
                                                    class="tp-revslider-slidesli active-revslide"
                                                    style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                                                    <div class="slotholder"
                                                         style="width: 100%; height: 100%; backface-visibility: hidden; left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;">
                                                        <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="plugins/rs-plugin/assets/images/dummy.png " alt="" width="1200" height="800" data-lazyload="images/1200x800.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg defaultimg" data-no-retina="">-->
                                                        <div class="tp-bgimg defaultimg"
                                                             style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/1200x800.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;"
                                                             src="images/1200x800.jpg"></div>
                                                    </div>
                                                </li>
                                                <li data-index="rs-22" data-transition="slidehorizontal"
                                                    data-slotamount="7" data-easein="default" data-easeout="default"
                                                    data-masterspeed="300"
                                                    data-thumb="images/home_betheme_blog_4-100x50.jpg" data-rotate="0"
                                                    data-saveperformance="off" data-title="Slide" data-description=""
                                                    class="tp-revslider-slidesli"
                                                    style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                                                    <div class="slotholder"
                                                         style="width: 100%; height: 100%; backface-visibility: hidden; left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;">
                                                        <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="plugins/rs-plugin/assets/images/dummy.png " alt="" width="1200" height="800" data-lazyload="images/1200x800.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg defaultimg" data-no-retina="">-->
                                                        <div class="tp-bgimg defaultimg"
                                                             style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/1200x800.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 0; visibility: hidden; z-index: 20;"
                                                             src="images/1200x800.jpg"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="tp-bannertimer flv_rev_21"
                                                 style="width: 94.3111%; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div>
                                            <div class="tp-loader off" style="display: none;">
                                                <div class="dot1"></div>
                                                <div class="dot2"></div>
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                            <div class="tp-leftarrow tparrows uranus  noSwipe tp-forcenotvisible"
                                                 style="top: 50%; transform: matrix(1, 0, 0, 1, 30, -20); left: 0px; visibility: hidden; opacity: 0;"></div>
                                            <div class="tp-rightarrow tparrows uranus  noSwipe tp-forcenotvisible"
                                                 style="top: 50%; transform: matrix(1, 0, 0, 1, -70, -20); left: 100%; visibility: hidden; opacity: 0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="date_label">
                                May 13, 2014
                            </div>
                            <div class="desc">
                                <h4><a href="blog-single-slideshow.html">Post with slideshow</a></h4>
                                <hr class="hr_color">
                                <a href="blog-single-slideshow.html" class="button button_left button_js kill_the_icon"><span
                                        class="button_icon"><i class="icon-layout"></i></span><span
                                        class="button_label">Read more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block aside %}
        {% include 'post/aside.html' %}

    {% endblock %}
{% endblock %}