{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block main %}

    <div class="sections_group">
        <div class="section">
            <div class="section_wrapper clearfix">
                <div class="column one column_column">
                    <div class="column_attr ">
                        <form method="post">
                            {% csrf_token %}
                            <h2>{% trans 'Confirmation' %}</h2>
                            <p>{% trans 'Are you sure you want to delete' %} "{{ object }}"?</p>
                            <button type="submit" class="button-stroke">{% trans 'Yes' %}</button>
                            <a href="{% url 'post_detail' object.slug %}" class="button-stroke" >{% trans 'Come back' %}</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block aside %}
        {% include 'post/aside.html' %}

    {% endblock %}
{% endblock %}