{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Be</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Maven+Pro:100,400,400italic,500,700,700italic,900'>

    <!-- CSS -->
    <link rel='stylesheet' type="text/css" href="{% static 'css/global.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css-content/structure.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css-content/digital.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css-content/custom.css' %}">
    {% block css %}
    
    {% endblock %}

</head>

<body class="style-simple layout-full-width mobile-tb-left button-stroke with_aside aside_right  if-overlay no-content-padding header-below header-fw minimalist-header sticky-header sticky-white ab-hide subheader-both-center menuo-right menuo-no-borders footer-copy-center">
    <!-- Main Theme Wrapper -->
    <div id="Wrapper">
        <!-- Header Wrapper -->
        <div id="Header_wrapper">
            <!-- Header -->
            <header id="Header">

                <!-- Header -  Logo and Menu area -->
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix loading">
                                <!-- Logo-->
                                <div class="logo">
                                    <a id="logo" href="{% url 'home' %}" title="BeDigital - BeTheme"> <img class="scale-with-grid" src="{% static 'image-site/digital.png' %}" alt="BeDigital - BeTheme" />
                                    </a>
                                </div>
                                <!-- Main menu-->
                                <div class="menu_wrapper">
                                    <nav id="menu" class="menu-main-menu-container">
                                        <ul id="menu-main-menu" class="menu">
                                            <li class="{% if request.resolver_match.url_name ==  'home' %}current_page_item{% endif %}">
                                                <a href="{% url 'home' %}"><span>HOME</span></a>
                                            </li>
                                            <li class="">
                                                <a href="agency.html"><span>AGENCY</span></a>
                                            </li>
                                            <li class="{% if request.resolver_match.url_name ==  'post_list' %}current_page_item{% endif %}">
                                                <a href="{% url 'post_list' %}"><span>BLOG</span></a>
                                            </li>
                                            <li>
                                                <a href="solutions.html"><span>SOLUTIONS</span></a>
                                            </li>
                                            <li>
                                                <a href="contact.html"><span>CONTACT</span></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://bit.ly/1M6lijQ"><span><span style="padding: 0px; color:#f2dfb3;">BUY NOW</span></span></a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                                </div>
                                <!-- Secondary menu area - only for certain pages -->
                                <div class="secondary_menu_wrapper"></div>
                                <!-- Banner area - only for certain pages-->
                                <div class="banner_wrapper"></div>
                                <!-- Header Searchform area-->
                                <div class="search_wrapper">
                                    <form method="get" id="searchform" action="#">

                                        <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                                        <input type="submit" class="submit flv_disp_none" value="" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--Subheader area - only for certain pages -->
            {% block subheader %}
            {% endblock %}
        </div>
        <!-- Main Content -->
        <div id="Content">
            <div class="content_wrapper clearfix">
                        {% block main %}

                        {% endblock %}
            </div>
        </div>
        <!-- Footer-->
        {% block footer %}
    {% include 'footer.html' %}
{% endblock %}

    </div>

    <!-- JS -->

        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>


    <script src="{% static 'js/mfn.menu.js' %}"></script>
    <script src="{% static 'js/jquery.plugins.js' %}"></script>
    <script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
    <script src="{% static 'js-animation/animations.js' %}"></script>
    <script src="{% static 'js/translate3d.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block js %}
    
    {% endblock %}

    <script>
        //<![CDATA[
        jQuery(window).load(function() {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img.logo-main");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "{% static 'image-site/retina-digital.png' %}").width(retinaLogoW).height(retinaLogoH);
                var stickyEl = jQuery("#logo img.logo-sticky");
                var stickyLogoW = stickyEl.width();
                var stickyLogoH = stickyEl.height();
                stickyEl.attr("src", "{% static 'image-site/retina-digital.png' %}").width(stickyLogoW).height(stickyLogoH);
            }
        });
        //]]>
    </script>

</body>

</html>