{% load static %}
{% block header %}
    {% load i18n %}


    <header id="Header">

        <!-- Header -  Logo and Menu area -->
        <div id="Top_bar">
            <div class="container">
                <div class="column one">
                    <div class="top_bar_left clearfix loading">
                        <!-- Logo-->
                        <div class="logo">
                            <a id="logo" href="{% url 'home' %}" title="BeDigital - BeTheme"> <img
                                    class="scale-with-grid" src="{% static 'image-site/digital.png' %}"
                                    alt="BeDigital - BeTheme"/>
                            </a>
                        </div>
                        <!-- Main menu-->
                        <div class="menu_wrapper">
                            <nav id="menu" class="menu-main-menu-container">
                                <ul id="menu-main-menu" class="menu">
                                    <li class="{% if request.resolver_match.url_name ==  'home' %}current_page_item{% endif %}">
                                        <a href="{% url 'home' %}"><span>HOME</span></a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name ==  'post_list' %}current_page_item{% endif %}">
                                        <a href="{% url 'post_list' %}"><span>BLOG</span></a>
                                    </li>
{#                                    {% if user.is_authenticated %}#}
{#                                        {% if request.resolver_match.url_name ==  'post_detail' %}#}
{#                                            <li class="{% if request.resolver_match.url_name ==  'post_update' %}current_page_item{% endif %}">#}
{#                                                <a href="{% url 'post_update' post.slug %}"><span><i class="icon-pencil"></i>{% trans 'UPDATE' %}</span></a>#}
{#                                            </li>#}
{#                                        {% else %}#}
{#                                            <li class="{% if request.resolver_match.url_name ==  'post_create' %}current_page_item{% endif %}">#}
{#                                                <a href="{% url 'post_create' %}"><span><i class="icon-list-add"></i>{% trans 'CREATE' %}</span></a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{##}
{#                                        {% if request.resolver_match.url_name  ==  'post_update' %}#}
{#                                        <li class="{% if request.resolver_match.url_name ==  'post_delete' %}current_page_item{% endif %} ">#}
{#                                                <a href="{% url 'post_delete' post.slug %}"><span><i class="icon-trash"></i> {% trans 'DELETE' %}</span></a>#}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                    {% endif %}#}
                                </ul>
                            </nav>
                            <a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                        </div>
                        <!-- Secondary menu area - only for certain pages -->
                        <div class="secondary_menu_wrapper"></div>
                        <!-- Banner area - only for certain pages-->
                        <div class="banner_wrapper"></div>
                        <!-- Header Searchform area-->
                        <div class="search_wrapper">
                            <form method="get" id="searchform" action="#">

                                <input type="text" class="field" name="s" id="s" placeholder="Enter your search"/>
                                <input type="submit" class="submit flv_disp_none" value=""/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
